# SQL set operations

## Solution Notebook

This is a set of worked solutions to the `11.1 SQL set operations` Notebook. 
The solutions given here should be viewed as guide only: other equally acceptable solutions may be possible.

Enable access to the PostgreSQL database engine via [SQL Cell Magic](https://pypi.python.org/pypi/ipython-sql).

In [ ]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

This Notebook will be just using the `movie_actor` table from the Movies dataset.

`movie_actor (movie_id, actor_name, ranking)`

Each movie features one or more actors. Each row records a particular actor featuring in a particular movie 
identified by the `movie_id` and `actor_name` primary key (PK) columns.


column | description
------ | -----------
movie_id  (PK) | movie identifier
actor_name  (PK) | actor's name
ranking | position of actor on the movie's cast list

In [ ]:
%%sql
DROP TABLE IF EXISTS movie_actor;

CREATE TABLE movie_actor (
 movie_id INTEGER NOT NULL,
 actor_name VARCHAR(50) NOT NULL,
 ranking INTEGER NOT NULL,
 PRIMARY KEY (movie_id, actor_name)
);

Populate the tables from the Movies dataset using [Psycopg](http://initd.org/psycopg/docs/index.html), 
a PostgreSQL database adapter for Python.

In [ ]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psqlg

In [ ]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='tm351test', host='localhost', user='test', password='test', port=5432)
# create a cursor
c = conn.cursor()
# open movie_actor.dat
io = open('data/movie_actor.dat', 'r')
# execute the PostgreSQL copy command
c.copy_from(io, 'movie_actor')
# close movie_actor.dat
io.close()
# commit transaction
conn.commit()
# close cursor
c.close()
# close database connection
conn.close()

## Activity

Using the SQL set operators, answer the following questions about the films *Shrek* (`movie_id` = 4306) and its sequel *Shrek 2* (`movie_id` = 8360):
    
- Which actors appeared in either the original movie or the sequel?
- Which actors appeared in both the original movie and in the sequel?
- Which actors appeared in the original movie but not in the sequel?
- Which actors appeared in the sequel but not in the original movie?
- Which actors appeared in either the original movie or the sequel, but not both?

In [ ]:
%%sql
SELECT actor_name
FROM movie_actor
WHERE movie_id = 4306
ORDER BY actor_name;

In [ ]:
%%sql
SELECT actor_name
FROM movie_actor
WHERE movie_id = 8360
ORDER BY actor_name;

Which actors appeared in either the original movie or the sequel?

In [ ]:
%%sql
SELECT actor_name
FROM movie_actor
WHERE movie_id = 4306
 UNION
SELECT actor_name
FROM movie_actor
WHERE movie_id = 8360
ORDER BY actor_name;

Which actors appeared in both the original movie and in the sequel?

In [ ]:
%%sql
SELECT actor_name
FROM movie_actor
WHERE movie_id = 4306
 INTERSECT
SELECT actor_name
FROM movie_actor
WHERE movie_id = 8360
ORDER BY actor_name;

Which actors appeared in the original movie but not in the sequel?

In [ ]:
%%sql
SELECT actor_name
FROM movie_actor
WHERE movie_id = 4306
 EXCEPT
SELECT actor_name
FROM movie_actor
WHERE movie_id = 8360
ORDER BY actor_name;

Which actors appeared in the sequel but not in the original movie?

In [ ]:
%%sql
SELECT actor_name
FROM movie_actor
WHERE movie_id = 8360
 EXCEPT
SELECT actor_name
FROM movie_actor
WHERE movie_id = 4306
ORDER BY actor_name;

Which actors appeared in either the original movie or the sequel, but not both?

In [ ]:
%%sql
(SELECT actor_name
 FROM movie_actor
 WHERE movie_id = 4306
  EXCEPT
 SELECT actor_name
 FROM movie_actor
 WHERE movie_id = 8360)
UNION
(SELECT actor_name
 FROM movie_actor
 WHERE movie_id = 8360
  EXCEPT
 SELECT actor_name
 FROM movie_actor
 WHERE movie_id = 4306)
ORDER BY actor_name;