# SQL DDL
## Solution Notebook

This is a set of worked solutions to the `09.1 SQL DDL` Notebook.
The solutions given here should be viewed as a guide only: other equally acceptable solutions may be possible.

Enable access to the PostgreSQL database engine via SQL cell magic.

In [ ]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

Create and populate the `patient` table with the sample data described in the module text.

In [ ]:
%%sql
DROP TABLE IF EXISTS patient CASCADE;

CREATE TABLE patient (
  patient_id CHAR(4) NOT NULL
    CHECK (patient_id SIMILAR TO 'p[0-9][0-9][0-9]'),
  patient_name VARCHAR(20) NOT NULL,
  date_of_birth DATE NOT NULL,
  gender CHAR(1) NOT NULL
    CHECK (gender = 'F' OR gender = 'M'),
  height DECIMAL(4,1)
    CHECK (height > 0),
  weight DECIMAL(4,1)
    CHECK (weight > 0),
 PRIMARY KEY (patient_id)
 );

INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p001', 'Thornton', '1980-01-22', 'F', 162.3, 71.6);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p007', 'Tennent', '1980-04-01', 'M', 176.8, 70.9);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p008', 'James', '1980-07-08', 'M', 167.9, 70.5);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p009', 'Kay', '1980-09-25', 'F', 164.7, 53.2);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p015', 'Harris', '1980-12-04', 'M', 180.6, 64.3);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p031', 'Rubinstein', '1980-12-23', 'F', NULL, NULL);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p037', 'Boswell', '1981-06-11', 'F', NULL, NULL);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p038', 'Ming', '1981-09-23', 'M', 186.3, 85.4);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p039', 'Maher', '1981-10-09', 'F', 161.9, 73.0);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p068', 'Monroe', '1981-10-21', 'F', 165.0, 62.6);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p071', 'Harris', '1981-12-12', 'M', 186.3, 76.7);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p078', 'Hunt', '1982-02-25', 'M', 179.9, 74.3);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p079', 'Dixon', '1982-05-05', 'F', 163.9, 56.5);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p080', 'Bell', '1982-06-11', 'F', 171.3, 49.2);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p087', 'Reed', '1982-06-14', 'F', 160.0, 59.1);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p088', 'Boswell', '1982-08-23', 'M', 168.4, 91.4);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p089', 'Jarvis', '1982-11-09', 'F', 172.9, 53.4);

In [ ]:
%%sql
SELECT * 
FROM patient
ORDER BY patient_id;

## Activity 1 - Updating the `patient` table

Execute SQL DML statements to:
 1. Register the details of a new female patient whose name is Cramer, who was born on 1 November 1982, 
and has been assigned a patient identifier of 'p098'.
 2. Record the height and weight of this female patient as 169.6 and 74.1, respectively, after she has been registered.
 3. Delete the patient from the database.

1\. Register the details of a new female patient whose name is Cramer, who was born on 1 November 1982, 
and has been assigned a patient identifier of 'p098'.

In [ ]:
%%sql
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender)
            VALUES ( 'p098', 'Cramer', '1982-11-01', 'F');
SELECT *
FROM patient
WHERE patient_id = 'p098';

2\. Record the height and weight of this female patient as 169.6 and 74.1, respectively, after she has been registered.

In [ ]:
%%sql
UPDATE patient 
SET height = 169.6, weight = 74.1 
WHERE patient_id = 'p098';

SELECT *
FROM patient
WHERE patient_id = 'p098';

3\. Delete the patient from the database.

In [ ]:
%%sql
DELETE FROM patient WHERE patient_id = 'p098';

SELECT *
FROM patient
WHERE patient_id = 'p098';

## Activity 2 - Constraints

Execute SQL DML statements to demonstrate that each of the constraints defined in Exercise 9.2 are enforced:
    
 1. `patient_id` takes a value between 'p000' and 'p999'
 2. `patient_name` always has a value
 3. `date_of_birth` always has a valid value
 4. `gender` takes a value of either 'F' or 'M'
 5. `height` and `weight` are either null or > 0

1\. `patient_id` takes a value between 'p000' and 'p999'

In [ ]:
%%sql
-- invalid patient_id
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender)
            VALUES ( 'd098', 'Cramer', '1982-11-01', 'F');

Note:

You need to scroll down to the end of the error messages in order to see the reason why the SQL statement was rejected.

In [ ]:
%%sql
-- missing patient_id
INSERT INTO patient (patient_name, date_of_birth, gender)
            VALUES ('Cramer', '1982-11-01', 'F');

2\. `patient_name` always has a value

In [ ]:
%%sql
-- patient_name is null
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender)
            VALUES ( 'p098', null, '1982-11-01', 'F');

3\. `date_of_birth` always has a valid value

In [ ]:
%%sql
-- invalid date_of_birth
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender)
            VALUES ( 'p098', 'Cramer', '1982-11-00', 'F');

4\. `gender` takes a value of either 'F' or 'M'

In [ ]:
%%sql
-- invalid gender
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender)
            VALUES ( 'p098', 'Cramer', '1982-11-01', 'X');

5\. `height` and `weight` are either null or > 0

In [ ]:
%%sql
-- invalid height and weight
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ( 'd098', 'Cramer', '1982-11-01', 'F', 0, 0)

Note:

Although both `height` and `weight` are invalid, you are only given one reason why the SQL statement was rejected 
as PostgreSQL stops processing the statement once it has encountered an error.

## Activity 3 - Updating the definition of the `patient` table (optional)

The current definition of the `patient` table will allow patients to be added to the database whose dates of birth 
are in the future. For example, the following SQL `INSERT` statement will add a new row to the `patient` table.

In [ ]:
%%sql
INSERT INTO patient (patient_id,patient_name,date_of_birth,gender)
            VALUES ('p098','Cramer','2026-01-01','F');

Use the [`ALTER TABLE`](http://www.postgresql.org/docs/9.3/static/sql-altertable.html) 
statement to change the definition of the `patient` table by adding a constraint that will 
prevent patients whose dates of birth are in the future being added to the `patient` table.

The following sequence of statements defines a new constraint on the `patient` table to ensure that the date of 
birth cannot be in the future. Any rows of the table being modified by a `ALTER TABLE` statement that would violate 
the constraint being defined must first be deleted before using the statement.

In [ ]:
%%sql
DELETE FROM patient WHERE patient_id = 'p098';

ALTER TABLE patient 
  ADD CHECK (date_of_birth <= CURRENT_DATE);

INSERT INTO patient (patient_id,patient_name,date_of_birth,gender)
            VALUES ('p098','Cramer','2026-01-01','F');

Note:
    
If any row in the `patient` table has a `date_of_birth` column with a date in the future, the `ALTER TABLE` statement
 will fail. So, the `DELETE` statement has been included to remove the row added by the `INSERT` statement given 
above.