# SQL DML
## Solution Notebook

This is a set of worked solutions to the `09.2 SQL DML` Notebook.
The solutions given here should be viewed as guide only: other equally acceptable solutions may be possible.

Enable access to the PostgreSQL database engine via SQL cell magic.

In [ ]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

## (a) the `patient` table

As the patient table was updated by the `09.1 SQL DDL` Notebook, recreate it.

In [ ]:
%%sql
DROP TABLE IF EXISTS patient CASCADE;

CREATE TABLE patient (
  patient_id CHAR(4) NOT NULL
    CHECK (patient_id SIMILAR TO 'p[0-9][0-9][0-9]'),
  patient_name VARCHAR(20) NOT NULL,
  date_of_birth DATE NOT NULL,
  gender CHAR(1) NOT NULL
    CHECK (gender = 'F' OR gender = 'M'),
  height DECIMAL(4,1)
    CHECK (height > 0),
  weight DECIMAL(4,1)
    CHECK (weight > 0),
 PRIMARY KEY (patient_id)
 );

Populate the `patient` table from a CSV file named `patients.csv` using [Psycopg](http://initd.org/psycopg/docs/index.html), 
a PostgreSQL database adapter for Python.

In [ ]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psqlg

In [ ]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='tm351test', host='localhost', user='test', password='test', port=5432)
# create a cursor
c = conn.cursor()
# open patient.csv
io = open('data/patient.csv', 'r')
# execute the PostgreSQL copy command
c.copy_from(io, 'patient', sep=',', null='')
# close patient.csv
io.close()
# commit transaction
conn.commit()
# close cursor
c.close()
# close database connection
conn.close()

In [ ]:
%%sql
SELECT * 
FROM patient
ORDER BY patient_id;

## Activity 1 - `patient` table
Execute SQL `SELECT` statements to answer the following queries about patients:
1. Give the details of female patients who were born before 1981.
2. For each birth year, give the number of patients who were born that year, the number whose weight has been 
recorded, and the minimum, maximum and average weights.
3. Give the number of female patients and male patients who are 'overweight' according to their 
[BMI (Body Mass Index)](https://en.wikipedia.org/wiki/Body_mass_index).

1\. Give the details of female patients who were born before 1981.

In [ ]:
%%sql
SELECT *
FROM patient
WHERE EXTRACT(YEAR FROM date_of_birth) < 1981
ORDER BY patient_id;

Notes:
    
The [`EXTRACT`](http://www.postgresql.org/docs/9.3/static/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) 
[DATE/TIME function](http://www.postgresql.org/docs/9.3/static/functions-datetime.html) 
retrieves subfields such as year or hour from date/time values.

2\. For each birth year, give the number of patients who were born that year, the number whose weight has been 
recorded, and the minimum, maximum and average weights.

In [ ]:
%%sql
SELECT CAST(EXTRACT(YEAR FROM date_of_birth) AS INTEGER) AS birth_year,
       COUNT(*) AS number_of_patients,
       COUNT(weight) AS number_weighed,
       MIN(weight) AS minimum_weight,
       MAX(weight) AS maximum_weight,
       CAST(AVG(weight) AS DECIMAL(4,1)) AS average_weight
FROM patient
GROUP BY birth_year
ORDER BY birth_year;

Notes:
    
The derived column `birth_year`, defined in the `SELECT` clause, is used in the `GROUP BY` and `ORDER BY` clauses.

The `GROUP BY` and `ORDER BY` clauses could have written as

* `GROUP BY EXTRACT(YEAR FROM date_of_birth)`
* `ORDER BY EXTRACT(YEAR FROM date_of_birth)`

The first form is not accepted by all SQL implementations.

##### Resultant table

The resultant table from the execution of an SQL `SELECT` statement can be put into a DataFrame 
(see TM351 VM Installation Test Notebook, Database tests, PostgreSQL).

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://test:test@localhost:5432/tm351test")
from pandas import read_sql_query as psql

In [ ]:
resultant_table = psql("SELECT CAST(EXTRACT(YEAR FROM date_of_birth) AS INTEGER) AS birth_year, \
                               COUNT(*) AS number_of_patients, \
                               COUNT(weight) AS number_weighed, \
                               MIN(weight) AS minimum_weight, \
                               MAX(weight) AS maximum_weight, \
                               CAST(AVG(weight) AS DECIMAL(4,1)) AS average_weight \
                        FROM patient \
                        GROUP BY birth_year \
                        ORDER BY birth_year;", engine)
resultant_table

The resultant DataFrame can subsequently be manipulated using 
[tools](http://pandas.pydata.org/pandas-docs/version/0.17.1/api.html#dataframe) that you have used previously. 
For example, [plotting](http://pandas.pydata.org/pandas-docs/version/0.17.1/api.html#api-dataframe-plotting) the results.

In [ ]:
resultant_table.plot.bar('birth_year')

3\. Give the number of female patients and male patients who are 'overweight' according to their 
[BMI (Body Mass Index)](https://en.wikipedia.org/wiki/Body_mass_index).

In [2]:
%%sql
SELECT gender, COUNT(*)
FROM patient
WHERE weight/(height*height/10000) > 24
GROUP BY gender;

ERROR: Cell magic `%%sql` not found.

## (b) the Movies dataset

This Notebook will be just using the `movie` table from the Movies dataset.

`movie (movie_id, title, year, rt_all_critics_rating, rt_top_critics_rating, rt_audience_rating, ml_user_rating)`

Each row records the following data about a particular movie identified by the `movie_id` primary key (PK) column.

column | description
------ | -----------
movie_id  (PK) | movie identifier
title | movie title
year | year of release
rt_all_critics_rating | RottenTomatoes - all critics: average rating
rt_top_critics_rating | RottenTomatoes - top critics: average rating
rt_audience_rating | RottenTomatoes - audience: average rating
ml_user_rating | MovieLens - users: average rating

In [1]:
%%sql
DROP TABLE IF EXISTS movie;

CREATE TABLE movie(
 movie_id INTEGER NOT NULL,
 title VARCHAR(250) NOT NULL,
 year INTEGER NOT NULL,
 rt_all_critics_rating REAL,
 rt_top_critics_rating REAL,
 rt_audience_rating REAL,
 ml_user_rating REAL,
 PRIMARY KEY (movie_id)
);

ERROR: Cell magic `%%sql` not found.

Populate the `movies` table from the file named `movie.dat` using Psycopg.

In [ ]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='tm351test', host='localhost', user='test', password='test', port=5432)
# create a cursor
c = conn.cursor()
# open movie.dat
io = open('data/movie.dat', 'r')
# execute the PostgreSQL copy command
c.copy_from(io, 'movie')
# close movie.dat
io.close()
# commit transaction
conn.commit()
# close cursor
c.close()
# close database connection
conn.close()

In [ ]:
%%sql
SELECT * 
FROM movie
ORDER BY movie_id
LIMIT 10;

## Activity 2 - Movies dataset I
Characterise the data in the `movie` table by executing SQL `SELECT` statements to answer the following questions: 

    1 How many movies are there?
    2 How many unique movie titles are there?
    3 What are the earliest and latest years of release?
    4 What are the ranges of values for critics, audience and user ratings?
    5 Missing data - How many movies are recorded without:
        5.1 a title?
        5.2 a year of release?
        5.3 critics, audience or user ratings?

Compare your answers with those from the same questions asked in the `08.1 Movies dataset` Notebook.

1\. How many movies are there?

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie;

2\. How many unique movie titles are there?

In [ ]:
%%sql
SELECT COUNT(DISTINCT title)
FROM movie;

3\. What are the earliest and latest years of release?

In [ ]:
%%sql
SELECT MIN(year), MAX(year)
FROM movie;

4\. What are the ranges of values for critics, audience and user ratings?

In [ ]:
%%sql
SELECT MIN(rt_all_critics_rating) AS min_rt_all_critics_rating, MAX(rt_all_critics_rating) AS max_rt_all_critics_rating, 
       MIN(rt_top_critics_rating) AS min_rt_top_critics_rating, MAX(rt_top_critics_rating) AS max_rt_top_critics_rating, 
       MIN(rt_audience_rating) AS min_rt_audience_rating, MAX(rt_audience_rating) AS max_rt_audience_rating, 
       MIN(ml_user_rating) AS min_ml_user_rating, MAX(ml_user_rating) AS max_ml_user_rating
FROM movie;

5.1 How many movies are recorded without a title?

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE title IS NULL;

5.2 How many movies are recorded without a year of release?

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE year IS NULL;

5.3 How many movies are recorded without critics, audience or user ratings?

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE rt_all_critics_rating IS NULL;

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE rt_top_critics_rating IS NULL;

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE rt_audience_rating IS NULL;

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE ml_user_rating IS NULL;

## Activity 3 - Movies dataset II
Execute SQL `SELECT` statements to answer the following queries about movies: 

    1 How many movies have the word 'Dog' in their title?
    2 Movies are often remade and released with the same name. Which movies have been made more than 3 times?
    3 How many movies have been released each decade? Plot the results as a histogram.

1\. How many movies have the word 'Dog' in their title?

In [ ]:
%%sql
SELECT COUNT(*)
FROM movie
WHERE title LIKE '%Dog%';

2\. Movies are often remade and released with the same name. Which movies have been made more than 3 times?

In [ ]:
%%sql
SELECT title, COUNT(*)
FROM movie
GROUP BY title
HAVING COUNT(*) > 3;

3\. How many movies have been released each decade? Plot the results as a histogram.

In [ ]:
%%sql
SELECT (year/10)*10 AS decade, COUNT(*) no_of_films
FROM movie
GROUP BY decade
ORDER BY decade;

Notes:

The [PostgreSQL mathematical operator](http://www.postgresql.org/docs/9.3/static/functions-math.html) 
`\` performs integer division, truncating the result.

In [ ]:
resultant_table = psql("SELECT (year/10)*10 AS decade, COUNT(*) no_of_films \
                        FROM movie \
                        GROUP BY decade \
                        ORDER BY decade;", engine)
resultant_table

In [ ]:
resultant_table.plot.bar('decade')