# SQL views
In this Notebook you will you will compare the properties of **views** and **materialised views**.

Enable access to the PostgreSQL database engine via SQL cell magic.

In [1]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

'Connected: test@tm351test'

As the `patient` table is updated by the other Notebooks, recreate it.

In [2]:
%%sql
DROP TABLE IF EXISTS patient CASCADE;

CREATE TABLE patient (
  patient_id CHAR(4) NOT NULL
    CHECK (patient_id SIMILAR TO 'p[0-9][0-9][0-9]'),
  patient_name VARCHAR(20) NOT NULL,
  date_of_birth DATE NOT NULL,
  gender CHAR(1) NOT NULL
    CHECK (gender = 'F' OR gender = 'M'),
  height DECIMAL(4,1)
    CHECK (height > 0),
  weight DECIMAL(4,1)
    CHECK (weight > 0),
 PRIMARY KEY (patient_id)
 );

Done.
Done.

[]

Populate the `patient` table from a CSV file named `patients.csv` using [Psycopg](http://initd.org/psycopg/docs/index.html), 
a PostgreSQL database adapter for Python.

In [3]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psqlg

In [4]:
# open a connection to the PostgreSQL database tm351test
conn = pg.connect(dbname='tm351test', host='localhost', user='test', password='test', port=5432)
# create a cursor
c = conn.cursor()
# open patient.csv
io = open('data/patient.csv', 'r')
# execute the PostgreSQL copy command
c.copy_from(io, 'patient', sep=',', null='')
# close patient.csv
io.close()
# commit transaction
conn.commit()
# close cursor
c.close()
# close database connection
conn.close()

In [5]:
%%sql
SELECT * 
FROM patient
ORDER BY patient_id;

17 rows affected.

[('p001', 'Thornton', datetime.date(1980, 1, 22), 'F', Decimal('162.3'), Decimal('71.6')),
 ('p007', 'Tennent', datetime.date(1980, 4, 1), 'M', Decimal('176.8'), Decimal('70.9')),
 ('p008', 'James', datetime.date(1980, 7, 8), 'M', Decimal('167.9'), Decimal('70.5')),
 ('p009', 'Kay', datetime.date(1980, 9, 25), 'F', Decimal('164.7'), Decimal('53.2')),
 ('p015', 'Harris', datetime.date(1980, 12, 4), 'M', Decimal('180.6'), Decimal('64.3')),
 ('p031', 'Rubinstein', datetime.date(1980, 12, 23), 'F', None, None),
 ('p037', 'Boswell', datetime.date(1981, 6, 11), 'F', None, None),
 ('p038', 'Ming', datetime.date(1981, 9, 23), 'M', Decimal('186.3'), Decimal('85.4')),
 ('p039', 'Maher', datetime.date(1981, 10, 9), 'F', Decimal('161.9'), Decimal('73.0')),
 ('p068', 'Monroe', datetime.date(1981, 10, 21), 'F', Decimal('165.0'), Decimal('62.6')),
 ('p071', 'Harris', datetime.date(1981, 12, 12), 'M', Decimal('186.3'), Decimal('76.7')),
 ('p078', 'Hunt', datetime.date(1982, 2, 25), 'M', Decimal('179.9'), Decimal('74.3')),
 ('p079', 'Dixon', datetime.date(1982, 5, 5), 'F', Decimal('163.9'), Decimal('56.5')),
 ('p080', 'Bell', datetime.date(1982, 6, 11), 'F', Decimal('171.3'), Decimal('49.2')),
 ('p087', 'Reed', datetime.date(1982, 6, 14), 'F', Decimal('160.0'), Decimal('59.1')),
 ('p088', 'Boswell', datetime.date(1982, 8, 23), 'M', Decimal('168.4'), Decimal('91.4')),
 ('p089', 'Jarvis', datetime.date(1982, 11, 9), 'F', Decimal('172.9'), Decimal('53.4'))]

A **view** is a virtual table that results from the execution of the `SELECT` query specified by a 
[`CREATE VIEW`](http://www.postgresql.org/docs/9.3/static/sql-createview.html) statement. 
The virtual table only exists (is materialised) when any SQL statement that references the view is executed. 

A **materialised view** is a physical table that is created when the materialised view is defined using the 
[`CREATE MATERIALIZED VIEW`](http://www.postgresql.org/docs/9.3/static/sql-creatematerializedview.html) statement 
and is updated (refreshed) using the 
[`REFRESH MATERIALIZED VIEW`](http://www.postgresql.org/docs/9.3/static/sql-refreshmaterializedview.html) statement.

Let's create a **view** and **materialised view** defined by the same `SELECT` query.

In [6]:
%%sql
DROP VIEW IF EXISTS v_female_patient;
CREATE VIEW v_female_patient AS
 SELECT *
 FROM patient
 WHERE gender = 'F';

DROP MATERIALIZED VIEW IF EXISTS mv_female_patient;
CREATE MATERIALIZED VIEW mv_female_patient AS
 SELECT *
 FROM patient
 WHERE gender = 'F';

Done.
Done.
Done.
10 rows affected.

[]

We can execute `SELECT` queries to display the contents of the two views and demonstrate that they are identical as follows.

In [7]:
view = %sql SELECT * FROM v_female_patient ORDER BY patient_id
materialised_view = %sql SELECT * FROM mv_female_patient ORDER BY patient_id
view == materialised_view

10 rows affected.
10 rows affected.

True

If we update the `patient` table, we can demonstrate that only the **view** displays the updated information as follows.

In [8]:
%%sql
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p072','Loney','1981-10-21', 'F', 166.0, 67.6);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p073', 'Purdy','1980-04-11', 'M', 156.8, 60.9);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p074', 'Thomas', '1981-08-09', 'F', 151.5, 75.5);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p075', 'Mann','1980-08-01', 'M', 171.8, 71.1);
INSERT INTO patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p077', 'Sarre', '1981-06-23', 'F', 185.3, 75.4);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
view = %sql SELECT * FROM v_female_patient ORDER BY patient_id
materialised_view = %sql SELECT * FROM mv_female_patient ORDER BY patient_id
view == materialised_view

13 rows affected.
10 rows affected.

False

If we subsequently refresh the **materialised view**, we can demonstrate that both views display the updated information as follows.

In [10]:
%%sql
REFRESH MATERIALIZED VIEW mv_female_patient;

Done.

[]

In [11]:
view = %sql SELECT * FROM v_female_patient ORDER BY patient_id
materialised_view = %sql SELECT * FROM mv_female_patient ORDER BY patient_id
view == materialised_view

13 rows affected.
13 rows affected.

True

### Updating views

Some **views** (not **materialised views**) can be specified on the SQL DDL statements - 
`INSERT`, `UPDATE` and `DELETE` - and on successful execution will cause the table referenced by the `SELECT` query 
that defines the view to be updated.

We will explore the types of **view** that will allow the underlying table to be updated.

Let's look at three views: 

1. `v_female_patient` (defined above)
2. `anonymous_patient` (defined below)
3. `patient_bmi` (defined below)

In [12]:
%%sql
DROP VIEW IF EXISTS anonymous_patient;
CREATE VIEW anonymous_patient AS
 SELECT date_of_birth, gender, height, weight
 FROM patient;

Done.
Done.

[]

In [13]:
%%sql
DROP VIEW IF EXISTS patient_bmi;
CREATE VIEW patient_bmi AS
 SELECT patient_id, patient_name, date_of_birth, gender, CAST(weight/(height*height/10000) AS INTEGER) AS bmi
 FROM patient;

Done.
Done.

[]

Let's try to add rows to the underlying table via these three views.

#### `v_female_patient` view

The **view** `v_female_patient` can be specified on an SQL DDL statement and will update the underlying 
`patient` table.

Note, however, it can be used to add both male and female patients, but only female patients are visible via the 
`v_female_patient` **view**.

In [14]:
%%sql
INSERT INTO v_female_patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p020','Roland','1981-10-21','F',166.0,67.6);
INSERT INTO v_female_patient (patient_id, patient_name, date_of_birth, gender, height, weight)
            VALUES ('p021','Cornish','1981-06-23','M',185.3,75.4);

1 rows affected.
1 rows affected.

[]

In [15]:
%%sql
SELECT *
FROM patient
WHERE patient_id LIKE 'p02%';

2 rows affected.

[('p020', 'Roland', datetime.date(1981, 10, 21), 'F', Decimal('166.0'), Decimal('67.6')),
 ('p021', 'Cornish', datetime.date(1981, 6, 23), 'M', Decimal('185.3'), Decimal('75.4'))]

In [16]:
%%sql
SELECT *
FROM v_female_patient
WHERE patient_id LIKE 'p02%';

1 rows affected.

[('p020', 'Roland', datetime.date(1981, 10, 21), 'F', Decimal('166.0'), Decimal('67.6'))]

#### `anonymous_patient` view

The `anonymous_patient` **view** cannot be used to update the `patient` table as the primary key of the 
`patient` table, `patient_id`, is not included in the view definition, which means it will be `null` 
and that's not allowed for a primary key.

In [17]:
%%sql
INSERT INTO anonymous_patient (date_of_birth, gender, height, weight)
            VALUES ('1971-07-27', 'F', 166.0, 67.6);

IntegrityError: (psycopg2.IntegrityError) null value in column "patient_id" violates not-null constraint
DETAIL:  Failing row contains (null, null, 1971-07-27, F, 166.0, 67.6).
 [SQL: "INSERT INTO anonymous_patient (date_of_birth, gender, height, weight)\n            VALUES ('1971-07-27', 'F', 166.0, 67.6);"]

#### `patient_bmi` view

The `patient_bmi` **view** cannot be used to update the patient table as the view definition includes derived data, 
`bmi`, which cannot be recorded by the underlying table.

In [18]:
%%sql
INSERT INTO patient_bmi (patient_id, patient_name, date_of_birth, gender, bmi)
            VALUES ('p022','Parsi','1982-12-21', 'F', 27);

(psycopg2.OperationalError) cannot insert into view "patient_bmi"
DETAIL:  Views that return columns that are not columns of their base relation are not automatically updatable.
HINT:  To enable inserting into the view, provide an INSTEAD OF INSERT trigger or an unconditional ON INSERT DO INSTEAD rule.
 [SQL: "INSERT INTO patient_bmi (patient_id, patient_name, date_of_birth, gender, bmi)\n            VALUES ('p022','Parsi','1982-12-21', 'F', 27);"]

Notes:
    
There are many other conditions which prevent a **view** being updatable. These are described in the Updatable Views
 section of the PostgreSQL [`CREATE VIEW`](http://www.postgresql.org/docs/9.3/static/sql-createview.html) specification.

## Summary
In this Notebook you have compared the properties of **views** and **materialised views**.

## What next?
If you are working through this Notebook as part of an inline exercise, return to the module materials now.

If you are working through this set of Notebooks as a whole, you've completed the Part 9 Notebooks. It's time to move on to Part 10.